// color customization

$primary: #127FC2;
$secondary: #017C58;
$warning: #FCCA46;
$gray: #fafafac0;
$secondary-gradient: linear-gradient(180deg, #619B8A 0%, rgba(0, 171, 121, 0.98) 0.01%, #017C58 82.08%);
$light:#edfbff;
$white: #f7f7f7;


@import "../../node_modules/bootstrap/scss/bootstrap";

//App styles

html, body{
    background: $light;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    width: 1rem;
    background: $secondary; /* make scrollbar transparent */
}

.bg-secondary-gradient{
    background: $secondary-gradient;
}

.bg-gray{
    background-color: $gray;
}

#root{
    height: 100%;
}

.small-icon{
    width: 32px;
    display: inline-block;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg fill="blue" xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

//Sidebar styles
.sidebar{
    width: 40%;
    height: 100%;
    max-width: 350px;
}

.aside-header{
    flex: 0 1 auto;
}

.task-list{
    flex: 1 1 auto;
    overflow: auto;
    .small-icon{
        margin-left: 1.5rem;
    }
    .task-list-element{
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;

        &:hover{
            cursor: pointer;
            background-color: opacify($color: $secondary, $amount: 0.5);
        }
    }

}

.settings-box{
    flex: 0 1 auto;
    Form:hover, div:hover{
        cursor: pointer;
        background-color: #078761b7;
    }
}

#newListNameInput::placeholder{
    color: white
}

//Panel search box
.search-box{
    .options-box{

        .list-picker, .btn-submit{
            height: 2rem;
        }

        .btn-submit:hover{
            background-color: opacify($primary, 0.2);
        }
    }
}

// Task Box
.task{
    user-select: none;
    color: gray;

    .checkbox-complete{
        width: 1rem;
        height: 1rem;
        border-radius: 20px;
    }
}

//Add tasks bar
.addTasks{
    transform: translateY(100%);
    display: none;

    position: absolute;
    top: 50%;
    width: 95%;
    height: 50%;
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: $white;
    border: 1px solid black;
    border-radius: 20px;
}

.btn-image{
    border: none;
    background-color: transparent;
}

.btn-close-display{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

// Select icon
.css-art2ul-ValueContainer2{
    background: $secondary;
}

.task-label:hover{
    cursor: pointer;
    text-decoration: line-through;
}

.css-1xc3v61-indicatorContainer, .css-8h3gbh-menu{
    background: $secondary !important;
}

.css-1im77uy-control{
    background: $secondary !important;
    border-radius: 4px;
}

.css-b62m3t-container{
    width: 220px;
}

// github icon

.github{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: black;
    position: fixed;
    bottom: 10px;
    right: 30px;
    text-align: left;
}

.github a{
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration:none;
}

.github img{
    width: 20px;
    height: 20px;
    display: inline-block;
}